<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="metro4:init" content="false">


    <link rel="icon" href="">
    <title></title>
    <!--link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic"-->
    <link rel="stylesheet" href="metro-src/build/css/metro-all.min.css">
    <link rel="stylesheet" href="metro-src/build/css/schemes/dracula.css">
    <link rel="stylesheet" href="metro-src/build/css/metro-icons.min.css">
    <link rel="stylesheet" href="metro-src/icons">

    <!--script type="text/javascript" src="assets/vendor/jquery/jquery.min.js"></script-->
    <script type="text/javascript" src="assets/vendor/vue-js/vue.js"></script>
    <script type="text/javascript" src="assets/vendor/httpVueLoader/httpVueLoader.js"></script>
    <script src="assets/vendor/vue-router/vue-router.js"></script>
    <script type="text/javascript" src="metro-src/build/js/metro.min.js"></script>

    <link rel="stylesheet" href="assets/custom/css/styles.css">
  </head>
  <body class="bl-body">

    <noscript>
      <strong>We're sorry but vuecli3 doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>


    <div id="app"> 
       <div data-role="navview" data-compact="md" data-expand="lg" data-toggle="#pane-toggle" data-active-state="true"> 
            <nav class="navview-pane bg-dark  fg-light">
              <!-- sidebar -->
              <sidebar></sidebar>
              <!-- sidebar --> 
            </nav> 
             <div class="navview-content bg-light"> 
                <main-header></main-header>
                <loading-screen v-if="isLoading"></loading-screen>
                <div class="px-2 py-2 mx-2 my-3">
                 
                        <button id="pane-toggle" class="button square d-none-md bg-dark"><span class="mif-menu" ></span></button>
                      
                    
                    <router-view></router-view>
                </div>  
              </div>

            <!-- sidebar-toggle -->
            <sidebar-toggle></sidebar-toggle>
            <!-- sidebar-toggle -->
             
        </div>         
    </div> 
     
    <script type="text/javascript" src="assets/custom/js/init.js"></script>
  </body>
</html>
<style type="text/css">
  #app .navview{
    min-height: 100vh;
  } 
li ul li{
    padding-left :10px !important;
    background : rgba(0,0,0,0.5) !important;
}
</style>

 
